<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Renaissance</key>
	<dict>
		<key>App Name</key>
		<string>Renaissance</string>
		<key>Stripe Company Name</key>
		<string>Renaissance</string>
		<key>Stripe Publishable Key</key>
		<string>pk_test_d2gj9eFVUJyrjVfaKkJo6Frh</string>
		<key>Fee Percent</key>
		<real>0.1</real>
		<key>Stripe Client Id</key>
		<string>ca_CWtSFxBQZl3nygQsSSKJJtbD8mOxNyFZ</string>
		<key>Server URL</key>
		<string>http://renaissance-x.herokuapp.com/api</string>
		<key>Categories</key>
		<array>
			<string>Arts</string>
			<string>Crafts</string>
			<string>Hobbies</string>
		</array>
		<key>Gradient Start Color</key>
		<string>#743746</string>
		<key>Gradient End Color</key>
		<string>#431522</string>
		<key>Intro Text</key>
		<string>Learn a new craft, art or hobby hands-on with an artisan in your community</string>
		<key>Main Color</key>
		<string>#591D25</string>
	</dict>
	<key>Tellomee</key>
	<dict>
		<key>App Name</key>
		<string>Tellomee</string>
		<key>Stripe Company Name</key>
		<string>Tellomee</string>
		<key>Stripe Publishable Key</key>
		<string>pk_test_Qw7nfjZOYT8EyoLpE51Dm9fw</string>
		<key>Fee Percent</key>
		<real>0.1</real>
		<key>Stripe Client Id</key>
		<string>ca_AbsKVVP7BmIJFntfSkToXhxtLSAvbIUM</string>
		<key>Server URL</key>
		<string>http://tellomee-x.herokuapp.com/api</string>
		<key>Categories</key>
		<array>
			<string>Lifestyle</string>
			<string>Adventure</string>
			<string>Cillinary</string>
		</array>
		<key>Gradient Start Color</key>
		<string>#006600</string>
		<key>Gradient End Color</key>
		<string>#004d00</string>
		<key>Intro Text</key>
		<string>Discover unique experiences in your city</string>
		<key>Main Color</key>
		<string>#1d591d</string>
	</dict>
</dict>
</plist>
