<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Renaissance</key>
	<dict>
		<key>Stripe Company Name</key>
		<string>Renaissance</string>
		<key>Stripe Publishable Key</key>
		<string>pk_test_Qw7nfjZOYT8EyoLpE51Dm9fw</string>
		<key>Fee Percent</key>
		<real>0.1</real>
	</dict>
	<key>Tellomee</key>
	<dict>
		<key>Stripe Company Name</key>
		<string>Tellomee</string>
		<key>Stripe Publishable Key</key>
		<string>pk_test_Qw7nfjZOYT8EyoLpE51Dm9fw</string>
		<key>Fee Percent</key>
		<real>0.1</real>
	</dict>
</dict>
</plist>
