<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Renaissance</key>
	<dict>
		<key>App Name</key>
		<string>Renaissance</string>
		<key>Stripe Company Name</key>
		<string>Renaissance</string>
		<key>Stripe Publishable Key</key>
		<string>pk_test_Qw7nfjZOYT8EyoLpE51Dm9fw</string>
		<key>Fee Percent</key>
		<real>0.1</real>
		<key>Stripe Client Id</key>
		<string>ca_CWtSFxBQZl3nygQsSSKJJtbD8mOxNyFZ</string>
		<key>Server URL</key>
		<string>http://tellomee-x.herokuapp.com/api</string>
	</dict>
	<key>Tellomee</key>
	<dict>
		<key>App Name</key>
		<string>Tellomee</string>
		<key>Stripe Company Name</key>
		<string>Tellomee</string>
		<key>Stripe Publishable Key</key>
		<string>pk_test_Qw7nfjZOYT8EyoLpE51Dm9fw</string>
		<key>Fee Percent</key>
		<real>0.1</real>
		<key>Stripe Client Id</key>
		<string>ca_AbsKVVP7BmIJFntfSkToXhxtLSAvbIUM</string>
		<key>Server URL</key>
		<string>http://renaissance-x.herokuapp.com/api</string>
	</dict>
</dict>
</plist>
